:root {
    background-color: rgb(229, 213, 239);
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(175, 7, 155);
}

h2 {
    font-size: 54px;
    color: rgb(86, 5, 89);
    padding-bottom: 60px;
    margin-top: 50px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}
